$slide-size: calc(100% / 6);
$slide-height: 300px;

.movies-carousel {
  max-width: 100%;
  user-select: none;
  @include fadein;

  &__wrapper {
    position: relative;
  }

  &__loading-placeholder {
    width: 100%;
    height: 100%;
    background-color: $gray;
    height: $slide-height;
    border-radius: $border-radius;
    @extend %pulse;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  &__viewport {
    overflow: hidden;
  }

  &__container {
    display: flex;
    height: $slide-height;
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    gap: $spacing * 2;
  }

  &__slide {
    min-width: 0;
    flex: 0 0 $slide-size;
    overflow: hidden;
    border-radius: $border-radius;
  }

  &__image {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &__lazy-load {
    position: relative;
    height: 100%;
    background-color: $gray;

    &--has-loaded {
      .movies-carousel__image {
        opacity: 1;
      }
    }

    &:not(&--has-loaded) {
      @extend %pulse;
    }
  }

  &__button {
    appearance: none;
    background-color: rgba($black, 0.5);
    touch-action: manipulation;
    pointer-events: auto;
    color: $white;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 28px;
    font-weight: bold;
    line-height: 1;

    &:not(:disabled):hover {
      background-color: rgba($black, 0.8);
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }

    &--left {
      left: $spacing * 2;
    }

    &--right {
      right: $spacing * 2;
    }
  }
}
