.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__spinner {
    width: 50px;
    aspect-ratio: 1;
    --background: no-repeat radial-gradient(farthest-side, #000000 92%, #0000);
    background:
      var(--background) top,
      var(--background) left,
      var(--background) right,
      var(--background) bottom;
    background-size: 12px 12px;
    animation: rotate 1s infinite;
  }
}

@keyframes rotate {
  to {
    transform: rotate(0.5turn);
  }
}
